.App {
  min-height: max-content;
}

.active-link {
  background: #f7f7f7;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.App-logo {
  height: 60px;
  width: 110px;
  float: left;

  background: url('./logo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.App-body {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: rgba(238, 238, 238, 0.20);
  width: 98.5w;
  height: 98vh;
}

.company-wrapper {
  height: 100%;
}

.company {
  display: inline-block;
  height: 113%;
  border-left: 1px dotted rgba(182, 180, 180, 0.5);
  border-right: 1px dotted rgb(182, 180, 180, 0.5);
  font-size: 24px;
  text-align: center;
  padding: 18px 10px 10px;
  color: #0069d9;
}

.company-link:hover .company{
  background: #f7f7f760;
}
